In [5]:
%reload_ext autoreload
%autoreload 2

import os
import pandas as pd
from pathlib import Path
import sys

sys.path.append(str(Path.cwd().parent))
from settings.params import (DATA_DIR,FILTERS_PARAMS)

### Read datasets

In [5]:
def load_data():
    list_dataframe = {}
    for filename in os.listdir(DATA_DIR):
        df_name = f"df_{filename.split('.')[0]}"
        if filename.split('.')[-1] == 'csv':
            list_dataframe[df_name] = pd.read_csv(Path(DATA_DIR,filename),sep=',', index_col=[0])
        elif (filename.split('.')[-1] == 'xlsx') or (filename.split('.')[-1] == 'xls'):
            list_dataframe[df_name] = pd.read_excel(Path(DATA_DIR,filename))
        print(filename)
    return list_dataframe

In [6]:
datasets = load_data()

.DS_Store
indicators.csv
CLASS.xlsx
country_codes.csv

In [7]:
datasets.keys()

dict_keys(['df_indicators', 'df_CLASS', 'df_country_codes'])

*On a trois datasets sur les indicateurs, la classe( niveau de vie ) et la region et code de tous les pays*

### Exploration du dataframe Indicators

In [8]:
if('df_indicators' in list(datasets.keys())):
    df_indicators = datasets['df_indicators']
df_indicators.head()

,Country,"Ratio de la population pauvre disposant de moins de $ 1,90 par jour (2011 PPA) (% de la population)","Espérance de vie à la naissance, total (années)","Population, total",Croissance de la population (% annuel),Migration nette,Indice du capital humain (échelle comprise entre 0 et 1),PIB ($ US courants)current US$constant US$current LCUconstant LCU,PIB par habitant ($ US courants)current US$constant US$current LCUconstant LCU,Croissance du PIB (% annuel),...,Accès à l’électricité (% de la population),"Retraits annuels d’eau douce, total (% des ressources internes)","Production d’électricité à partir de sources d’énergie renouvelables, hors énergie hydroélectrique (% du total)",People using safely managed sanitation services (% of population),Homicides intentionnels (pour 100 000 personnes),"Dette du gouvernement central, total (% du PIB)",Statistical performance indicators (SPI): Overall score (scale 0-100),Utilisateurs d Internet (% de la population),Proportion de sièges occupés par des femmes dans les parlements nationaux (%),"Investissements étrangers directs, entrées nettes (% du PIB)"
0,Afghanistan,No data available,"61,982",41 128 771,"2,534",-183 672,"0,4","14,58","363,674","-20,7",...,"97,7","43,016",No data available,No data available,"4,022",No data available,"49,756","18,4","27,016","0,141"
1,Africa Eastern and Southern,No data available,"62,455",720 839 314,"2,541",-179 444,No data available,"1,17","1 622,392","3,405",...,"48,104","4,955","2,818",No data available,"10,3",No data available,No data available,"27,661","30,524","4,966"
2,Africa Western and Central,No data available,"56,989",490 330 870,"2,54",-264 802,No data available,"877,86","1 790,349","3,763",...,"54,224","1,698","0,375","24,674","8,1",No data available,No data available,"46,99","19,183","2,421"
3,Afrique du Sud,"20,5","62,341",59 893 885,"0,841",10 934,"0,425","405,87","6 776,48","2,042",...,"89,3","45,335","1,93",No data available,"41,866","75,617","73,475","72,31","46,5","2,169"
4,Albanie,0,"76,463",2 775 634,"-1,29",-10 612,"0,634","18,88","6 802,805","4,844",...,100,"2,922",0,"47,691","2,312","82,384","75,383","79,32","35,714","7,634"

In [9]:
print(f"Nous avons un dataset de {df_indicators.shape[0]} lignes et {df_indicators.shape[1]} colonnes")

Nous avons un dataset de 172 lignes et 25 colonnes

In [10]:
df_indicators.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172 entries, 0 to 171
Data columns (total 25 columns):
 #   Column                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                           --------------  -----
 0   Country                                                                                                          172 non-null    object
 1   Ratio de la population pauvre disposant de moins de $ 1,90 par jour (2011 PPA) (% de la population)              172 non-null    object
 2   Espérance de vie à la naissance, total (années)                                                                  172 non-null    object
 3   Population, total                                                                                                172 non-null    object
 4   Croissance de la population (% annuel)                                                                           172 non-null    object
 5   Migration nette                                                                                                  172 non-null    object
 6   Indice du capital humain (échelle comprise entre 0 et 1)                                                         172 non-null    object
 7   PIB ($ US courants)current US$constant US$current LCUconstant LCU                                                172 non-null    object
 8   PIB par habitant ($ US courants)current US$constant US$current LCUconstant LCU                                   172 non-null    object
 9   Croissance du PIB (% annuel)                                                                                     172 non-null    object
 10  Chômage, total (% de la population) (estimation modélisée OIT)                                                   172 non-null    object
 11  Inflation, prix à la consommation (% annuel)                                                                     172 non-null    object
 12  Envois de fonds des travailleurs et rémunérations des salariés, reçus (% du PIB)                                 172 non-null    object
 13  Émissions de CO2 (tonnes métriques par habitant)                                                                 172 non-null    object
 14  Surface forestière (% du territoire)                                                                             172 non-null    object
 15  Accès à l’électricité (% de la population)                                                                       172 non-null    object
 16  Retraits annuels d’eau douce, total (% des ressources internes)                                                  172 non-null    object
 17  Production d’électricité à partir de sources d’énergie renouvelables, hors énergie hydroélectrique (% du total)  172 non-null    object
 18  People using safely managed sanitation services (% of population)                                                172 non-null    object
 19  Homicides intentionnels (pour 100 000 personnes)                                                                 172 non-null    object
 20  Dette du gouvernement central, total (% du PIB)                                                                  172 non-null    object
 21  Statistical performance indicators (SPI): Overall score (scale 0-100)                                            172 non-null    object
 22  Utilisateurs d Internet (% de la population)                                                                     172 non-null    object
 23  Proportion de sièges occupés par des femmes dans les parlements nationaux (%)                                    172 non-null    object
 24  Investissements étrangers directs, entrées nettes (% du PIB)                                                     172 non-null    object
dtypes: object(25)
memory usage: 34.9+ KB

Toutes les colonnes sont de types object

In [11]:
df_indicators.describe()

,Country,"Ratio de la population pauvre disposant de moins de $ 1,90 par jour (2011 PPA) (% de la population)","Espérance de vie à la naissance, total (années)","Population, total",Croissance de la population (% annuel),Migration nette,Indice du capital humain (échelle comprise entre 0 et 1),PIB ($ US courants)current US$constant US$current LCUconstant LCU,PIB par habitant ($ US courants)current US$constant US$current LCUconstant LCU,Croissance du PIB (% annuel),...,Accès à l’électricité (% de la population),"Retraits annuels d’eau douce, total (% des ressources internes)","Production d’électricité à partir de sources d’énergie renouvelables, hors énergie hydroélectrique (% du total)",People using safely managed sanitation services (% of population),Homicides intentionnels (pour 100 000 personnes),"Dette du gouvernement central, total (% du PIB)",Statistical performance indicators (SPI): Overall score (scale 0-100),Utilisateurs d Internet (% de la population),Proportion de sièges occupés par des femmes dans les parlements nationaux (%),"Investissements étrangers directs, entrées nettes (% du PIB)"
count,172,172,172,172,172,172,172,172,172,172,...,172,172,172,172,172,172,172,172,172,172
unique,172,78,161,165,161,164,116,160,164,161,...,78,138,82,92,143,72,137,158,141,152
top,Afghanistan,No data available,No data available,No data available,No data available,No data available,No data available,No data available,No data available,No data available,...,100,No data available,No data available,No data available,No data available,No data available,No data available,No data available,No data available,No data available
freq,1,47,12,8,8,8,41,9,9,10,...,86,34,65,78,28,101,36,12,23,21

In [12]:
df_indicators.isna().sum().value_counts()

0    25
dtype: int64

*On peut voir que la valeur "Data not available" n'est pas considérée comme une valeur nulle. Ce qui est normale. Dans la suite, nous la définirons comme valeur manquante.*

Nettoyage des donnees

In [13]:
#Verifions s'il y'a des colonnes avec des caractères non-ascii
cols_with_no_ascii_val = []
for col in df_indicators.columns:
    has_non_ascii = any(df_indicators[col].apply(lambda x: any(ord(c) > 127 for c in str(x))))
    if has_non_ascii | col.islower() == False:
        cols_with_no_ascii_val.append(col)
        print(f"la colonne: '{col}' contiens des caractères non-ASCII.")
print(f"\nIl existe: {len(cols_with_no_ascii_val)} colonnes avec des valeurs non-ASCII ou avec des lettres majuscules")

la colonne: 'Country' contiens des caractères non-ASCII.
la colonne: 'Ratio de la population pauvre disposant de moins de $ 1,90 par jour (2011 PPA) (% de la population)' contiens des caractères non-ASCII.
la colonne: 'Espérance de vie à la naissance, total (années)' contiens des caractères non-ASCII.
la colonne: 'Croissance de la population (% annuel)' contiens des caractères non-ASCII.
la colonne: 'Indice du capital humain (échelle comprise entre 0 et 1)' contiens des caractères non-ASCII.
la colonne: 'Croissance du PIB (% annuel)' contiens des caractères non-ASCII.
la colonne: 'Chômage, total (% de la population) (estimation modélisée OIT)' contiens des caractères non-ASCII.
la colonne: 'Inflation, prix à la consommation (% annuel)' contiens des caractères non-ASCII.
la colonne: 'Envois de fonds des travailleurs et rémunérations des salariés, reçus (% du PIB)' contiens des caractères non-ASCII.
la colonne: 'Émissions de CO2 (tonnes métriques par habitant)' contiens des caractères non-ASCII.
la colonne: 'Surface forestière (% du territoire)' contiens des caractères non-ASCII.
la colonne: 'Accès à l’électricité (% de la population)' contiens des caractères non-ASCII.
la colonne: 'Production d’électricité à partir de sources d’énergie renouvelables, hors énergie hydroélectrique (% du total)' contiens des caractères non-ASCII.
la colonne: 'People using safely managed sanitation services (% of population)' contiens des caractères non-ASCII.
la colonne: 'Homicides intentionnels (pour 100 000 personnes)' contiens des caractères non-ASCII.
la colonne: 'Dette du gouvernement central, total (% du PIB)' contiens des caractères non-ASCII.
la colonne: 'Statistical performance indicators (SPI): Overall score (scale 0-100)' contiens des caractères non-ASCII.
la colonne: 'Utilisateurs d Internet (% de la population)' contiens des caractères non-ASCII.
la colonne: 'Proportion de sièges occupés par des femmes dans les parlements nationaux (%)' contiens des caractères non-ASCII.

Il existe: 19 colonnes avec des valeurs non-ASCII ou avec des lettres majuscules

In [36]:
def contains_non_ascii(s):
    return s.isascii() if isinstance(s, str) else False

contains_non_ascii_indic_data = df_indicators.applymap(contains_non_ascii).any()

if contains_non_ascii_indic_data.any():
    print("Il y'a des valeurs avec des caractères non-ASCII dans le DataFrame, donc il faudra décoder.")
else:
    print("Le DataFrame ne contient que des caractères ASCII.")

Il y'a des valeurs avec des caractères non-ASCII dans le DataFrame, donc il faudra décoder.

In [14]:
# Verifions la qualité des données de la colonne Country, ceci est important pour la jointure des tables
duplicated_countries = df_indicators[df_indicators['Country'].duplicated()]
print("Nombre de doublons potentiels dans la colonne 'Country':", len(duplicated_countries))

Nombre de doublons potentiels dans la colonne 'Country': 0

In [15]:
# Vérifier les valeurs manquantes
missing_countries = df_indicators['Country'].isnull().sum()
print("Nombre de valeurs manquantes dans la colonne 'Country':", missing_countries)

Nombre de valeurs manquantes dans la colonne 'Country': 0

*pour imputer les données manquantes, on va utiliser la médiane qui est moins sensible aux outliers*

In [16]:
# Compter le nombre de lignes avec des espaces inutiles dans la colonne 'Country'
rows_with_extra_spaces = df_indicators[df_indicators['Country'].str.endswith(' ') | df_indicators['Country'].str.startswith(' ')]
print(f"Il existe: {len(rows_with_extra_spaces)} pays avec des espaces inutiles à la fin ou au début de la colonne Country\n")
rows_with_extra_spaces['Country']

Il existe: 172 pays avec des espaces inutiles à la fin ou au début de la colonne Country

0                      Afghanistan
1      Africa Eastern and Southern
2       Africa Western and Central
3                   Afrique du Sud
4                          Albanie
                   ...
167                      Venezuela
168                       Viet Nam
169                 Yemen, Rep. du
170                         Zambie
171                       Zimbabwe
Name: Country, Length: 172, dtype: object

*On peut corriger en faisant du strip*

In [17]:
df_indicators.dtypes.unique()

array([dtype('O')], dtype=object)

* On peut bien voir que toutes les données sont considérées comme des objets. Alors que dans la réalité certaines données comme les chiffres sont en vrai des valeurs numériques. Ceci est à corriger en enlevant les virgules et transformant en float*

In [18]:
number_of_nan = (df_indicators == "No data available").sum().sum()
print(f"Il y'a en réalité: {number_of_nan} valeur(s) nulles dans le dataset des indicateurs")

Il y'a en réalité: 666 valeur(s) nulles dans le dataset des indicateurs

In [19]:
# Vérifions si il ny'a pas ded données dupliquées
duplicated_rows = df_indicators[df_indicators.duplicated()].shape[0]
print(f"Il y'a: {duplicated_rows} dupliquée(s) dans ce dataframe")

Il y'a: 0 dupliquée(s) dans ce dataframe

### Analyser le dataframe Country_codes

In [20]:
if('df_country_codes' in list(datasets.keys())):
    df_country_codes = datasets['df_country_codes']
df_country_codes.head()

    id         name                       region
0  ABW        Aruba  Amérique latine et Caraïbes
1  AFE          NaN                     Agrégats
2  AFG  Afghanistan                  Asie du Sud
3  AFR          NaN                     Agrégats
4  AFW          NaN                     Agrégats

In [21]:
df_country_codes.describe

<bound method NDFrame.describe of       id            name                           region
0    ABW           Aruba      Amérique latine et Caraïbes
1    AFE             NaN                         Agrégats
2    AFG     Afghanistan                      Asie du Sud
3    AFR             NaN                         Agrégats
4    AFW             NaN                         Agrégats
..   ...             ...                              ...
292  XZN             NaN                         Agrégats
293  YEM  Yémen, Rép. du  Afrique du Nord et Moyen-Orient
294  ZAF  Afrique du Sud            Afrique subsaharienne
295  ZMB          Zambie            Afrique subsaharienne
296  ZWE        Zimbabwe            Afrique subsaharienne

[297 rows x 3 columns]>

In [148]:
print(f"Nous avons un dataset de {df_country_codes.shape[0]} lignes et {df_country_codes.shape[1]} colonnes")

(297, 3)

In [22]:
df_country_codes.dtypes

id        object
name      object
region    object
dtype: object

*Toutes les colonnes sont de type object, ce qui est cohérent*

In [24]:
# verifions s'il y'a des valeurs manquantes
df_country_codes.isna().sum()

id         0
name      32
region     0
dtype: int64

*On voit qu'il y'a des données manqauantes pour la colonne name, qui est ici le nom du pays. Etant donné qu'on ne peut pas rmplacer le nom d'un pays, on va corriger cela en supprimant toutes lignes où le nom est null*

In [25]:
#Verifions s'il y'a des colonnes avec des caractères non-ascii
cols_cc_with_no_ascii_val = []
for col in df_country_codes.columns:
    has_non_ascii = any(df_country_codes[col].apply(lambda x: any(ord(c) > 127 for c in str(x))))
    if has_non_ascii | col.islower() == False:
        cols_cc_with_no_ascii_val.append(col)
        print(f"la colonne: '{col}' contiens des caractères non-ASCII.")
print(f"\nIl existe: {len(cols_cc_with_no_ascii_val)} colonnes avec des valeurs non-ASCII ou avec des lettres majuscules")

Il existe: 0 colonnes avec des valeurs non-ASCII ou avec des lettres majuscules

In [37]:
contains_non_ascii_cc_data = df_country_codes.applymap(contains_non_ascii).any()
if contains_non_ascii_cc_data.any():
    print("Il y'a des valeurs avec des caractères non-ASCII dans le DataFrame, donc il faudra décoder.")
else:
    print("Le DataFrame ne contient que des caractères ASCII.")

Il y'a des valeurs avec des caractères non-ASCII dans le DataFrame, donc il faudra décoder.

In [38]:
# Vérifions si il ny'a pas des données dupliquées
duplicated_cc_rows = df_country_codes[df_country_codes.duplicated()].shape[0]
print(f"Il y'a: {duplicated_cc_rows} dupliquée(s) dans ce dataframe")

Il y'a: 0 dupliquée(s) dans ce dataframe

### Analyse du dataset sur les niveaux de vies

In [39]:
if('df_CLASS' in list(datasets.keys())):
    df_CLASS = datasets['df_CLASS']
df_CLASS.head()

,Economy,Code,Region,Income group,Lending category
0,Aruba,ABW,Latin America & Caribbean,High income,NaN
1,Afghanistan,AFG,South Asia,Low income,IDA
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD
3,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD
4,Andorra,AND,Europe & Central Asia,High income,NaN

Les colonnes qui vont nous interesser dans cette base de données sont: le code, la région et le niveau de vie

In [40]:
print(f"Nous avons un dataset de {df_CLASS.shape[0]} lignes et {df_indicators.shape[1]} colonnes")

Nous avons un dataset de 267 lignes et 25 colonnes

In [42]:
df_CLASS.dtypes.unique()

array([dtype('O')], dtype=object)

*Nous avons des données qualitatives pour ce dataframe*

In [44]:
df_CLASS.describe()

       Economy Code                 Region Income group Lending category
count      266  266                    218          217              144
unique     266  266                      7            4                3
top      Aruba  ABW  Europe & Central Asia  High income             IBRD
freq         1    1                     58           83               69

In [45]:
# verifions les valeurs manquantes
df_CLASS.isna().sum()

Economy               1
Code                  1
Region               49
Income group         50
Lending category    123
dtype: int64

Pour l'imputation des données manquantes, on pourra supprimer les lignes qui ont une valeur nulle dans la colonne "region". En effet c'est la colonne qui nous interessera, en plus de la colonne Code et Income group

Comme il n'ya qu'une seule valeur manquante pour le income group, on peut remplacer par la valeur la plus fréquente

In [47]:
contains_non_ascii_cls_data = df_country_codes.applymap(contains_non_ascii).any()
if contains_non_ascii_cls_data.any():
    print("Il y'a des valeurs avec des caractères non-ASCII dans le DataFrame, donc il faudra décoder.")
else:
    print("Le DataFrame ne contient que des caractères ASCII.")

Il y'a des valeurs avec des caractères non-ASCII dans le DataFrame, donc il faudra décoder.

In [49]:
# Vérifions si il ny'a pas des données dupliquées
duplicated_cls_rows = df_CLASS[df_CLASS.duplicated()].shape[0]
print(f"Il y'a: {duplicated_cls_rows} dupliquée(s) dans ce dataframe")

Il y'a: 0 dupliquée(s) dans ce dataframe

*D'après ces différentes explorations, on peut voir qu'il n'ya aucune ligne dupliquée dans nos datasets. Cependant il y'a des données manquantes à supprimer ou à imputer, cela dépendra du seuil fixé. IL existe des données avec des caractères non-ascii dans certains datasets, ce qui peut poser des problèmes dans le merging. Toutes les données sont considérées comme des objets alors que certaines doivent êtres numériques.*

In [4]:
list(FILTERS_PARAMS['FEATURES'].values())

['code_pays',
 'pays',
 'region',
 'population_totale',
 'migration nette',
 'croissance annuelle du PIB',
 'pourcentage total de la population au chomage',
 'inflation, prix annuel a la consommation',
 "acces a l'electricite(%population)",
 'indice du capital humain (indice entre 0 et 1)',
 'niveau de vie']

* Dans le cadre de notre projet de mise en place ....., on ne va s'interesser qu'aux colonnes:
 `'code_pays',
 'pays',
 'region',
 'population_totale',
 'migration nette',
 'croissance annuelle du PIB',
 'pourcentage total de la population au chomage',
 'inflation, prix annuel a la consommation',
 'acces a l'electricite(%population)',
 'indice du capital humain (indice entre 0 et 1)',
 'niveau de vie'`