In [7]:
%reload_ext autoreload
%autoreload 2


import pandas as pd
from pathlib import Path
import os
import numpy as np
import unidecode
import sys
sys.path.append(str(Path.cwd().parent))
from settings.params import (DATA_DIR,
                            FILTERS_PARAMS)

### Read data

In [8]:
def load_data():
    list_dataframe = {}
    for i,filename in enumerate(os.listdir(DATA_DIR)):
        df_name = f"df_{filename.split('.')[0]}"
        if filename.split('.')[-1] == 'csv':
            list_dataframe[df_name] = pd.read_csv(Path(DATA_DIR,filename),sep=',', index_col=[0])
        elif (filename.split('.')[-1] == 'xlsx') or (filename.split('.')[-1] == 'xls'):
            list_dataframe[df_name] = pd.read_excel(Path(DATA_DIR,filename))
        #df_name = f"df_{filename.split('.')[0]}"
        print(filename)
    return list_dataframe

In [9]:
datasets = load_data()

.DS_Store
indicators.csv
CLASS.xlsx
country_codes.csv

In [10]:
datasets.keys()

dict_keys(['df_indicators', 'df_CLASS', 'df_country_codes'])

### Explore Indicators dataframe

In [11]:
if('df_indicators' in list(datasets.keys())):
    df_indicators = datasets['df_indicators']
df_indicators.head()

,Country,"Ratio de la population pauvre disposant de moins de $ 1,90 par jour (2011 PPA) (% de la population)","Espérance de vie à la naissance, total (années)","Population, total",Croissance de la population (% annuel),Migration nette,Indice du capital humain (échelle comprise entre 0 et 1),PIB ($ US courants)current US$constant US$current LCUconstant LCU,PIB par habitant ($ US courants)current US$constant US$current LCUconstant LCU,Croissance du PIB (% annuel),...,Accès à l’électricité (% de la population),"Retraits annuels d’eau douce, total (% des ressources internes)","Production d’électricité à partir de sources d’énergie renouvelables, hors énergie hydroélectrique (% du total)",People using safely managed sanitation services (% of population),Homicides intentionnels (pour 100 000 personnes),"Dette du gouvernement central, total (% du PIB)",Statistical performance indicators (SPI): Overall score (scale 0-100),Utilisateurs d Internet (% de la population),Proportion de sièges occupés par des femmes dans les parlements nationaux (%),"Investissements étrangers directs, entrées nettes (% du PIB)"
0,Afghanistan,No data available,62,41 128 771,"2,5",-183 672,"0,4","14,58","363,7","-20,7",...,"97,7",43,No data available,No data available,4,No data available,"49,8",18,27,"0,1"
1,Afrique du Sud,"20,5",62,59 893 885,"0,8",10 934,"0,4","405,87","6 776,5","2,0",...,"89,3",45,"1,9",No data available,42,"75,6","73,5",72,47,"2,2"
2,Albanie,"0,0",76,2 775 634,"-1,3",-10 612,"0,6","18,88","6 802,8","4,8",...,"100,0",3,"0,0",48,2,"82,4","75,4",79,36,"7,6"
3,Algerie,"0,5",76,44 903 225,"1,6",-18 797,"0,5","191,91","4 273,9","3,1",...,"99,8",87,"0,1",18,2,No data available,"55,1",71,8,"0,0"
4,Andorre,No data available,No data available,79 824,"1,0",1 377,No data available,"3,35","41 992,8","8,8",...,"100,0",No data available,No data available,100,3,No data available,No data available,94,46,No data available

In [12]:
df_indicators.columns

Index(['Country',
       'Ratio de la population pauvre disposant de moins de $ 1,90 par jour (2011 PPA) (% de la population)',
       'Espérance de vie à la naissance, total (années)', 'Population, total',
       'Croissance de la population (% annuel)', 'Migration nette',
       'Indice du capital humain (échelle comprise entre 0 et 1)',
       'PIB ($ US courants)current US$constant US$current LCUconstant LCU',
       'PIB par habitant ($ US courants)current US$constant US$current LCUconstant LCU',
       'Croissance du PIB (% annuel)',
       'Chômage, total (% de la population) (estimation modélisée OIT)',
       'Inflation, prix à la consommation (% annuel)',
       'Envois de fonds des travailleurs et rémunérations des salariés, reçus (% du PIB)',
       'Émissions de CO2 (tonnes métriques par habitant)',
       'Surface forestière (% du territoire)',
       'Accès à l’électricité (% de la population)',
       'Retraits annuels d’eau douce, total (% des ressources internes)',
       'Production d’électricité à partir de sources d’énergie renouvelables, hors énergie hydroélectrique (% du total)',
       'People using safely managed sanitation services (% of population)',
       'Homicides intentionnels (pour 100 000 personnes)',
       'Dette du gouvernement central, total (% du PIB)',
       'Statistical performance indicators (SPI): Overall score (scale 0-100)',
       'Utilisateurs d Internet (% de la population)',
       'Proportion de sièges occupés par des femmes dans les parlements nationaux (%)',
       'Investissements étrangers directs, entrées nettes (% du PIB)'],
      dtype='object')

In [13]:
df_indicators.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 0 to 44
Data columns (total 25 columns):
 #   Column                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                           --------------  -----
 0   Country                                                                                                          45 non-null     object
 1   Ratio de la population pauvre disposant de moins de $ 1,90 par jour (2011 PPA) (% de la population)              45 non-null     object
 2   Espérance de vie à la naissance, total (années)                                                                  45 non-null     object
 3   Population, total                                                                                                45 non-null     object
 4   Croissance de la population (% annuel)                                                                           45 non-null     object
 5   Migration nette                                                                                                  45 non-null     object
 6   Indice du capital humain (échelle comprise entre 0 et 1)                                                         45 non-null     object
 7   PIB ($ US courants)current US$constant US$current LCUconstant LCU                                                45 non-null     object
 8   PIB par habitant ($ US courants)current US$constant US$current LCUconstant LCU                                   45 non-null     object
 9   Croissance du PIB (% annuel)                                                                                     45 non-null     object
 10  Chômage, total (% de la population) (estimation modélisée OIT)                                                   45 non-null     object
 11  Inflation, prix à la consommation (% annuel)                                                                     45 non-null     object
 12  Envois de fonds des travailleurs et rémunérations des salariés, reçus (% du PIB)                                 45 non-null     object
 13  Émissions de CO2 (tonnes métriques par habitant)                                                                 45 non-null     object
 14  Surface forestière (% du territoire)                                                                             45 non-null     object
 15  Accès à l’électricité (% de la population)                                                                       45 non-null     object
 16  Retraits annuels d’eau douce, total (% des ressources internes)                                                  45 non-null     object
 17  Production d’électricité à partir de sources d’énergie renouvelables, hors énergie hydroélectrique (% du total)  45 non-null     object
 18  People using safely managed sanitation services (% of population)                                                45 non-null     object
 19  Homicides intentionnels (pour 100 000 personnes)                                                                 45 non-null     object
 20  Dette du gouvernement central, total (% du PIB)                                                                  45 non-null     object
 21  Statistical performance indicators (SPI): Overall score (scale 0-100)                                            45 non-null     object
 22  Utilisateurs d Internet (% de la population)                                                                     45 non-null     int64
 23  Proportion de sièges occupés par des femmes dans les parlements nationaux (%)                                    45 non-null     object
 24  Investissements étrangers directs, entrées nettes (% du PIB)                                                     45 non-null     object
dtypes: int64(1), object(24)
memory usage: 9.1+ KB

In [14]:
df_indicators.dtypes.value_counts

<bound method IndexOpsMixin.value_counts of Country                                                                                                            object
Ratio de la population pauvre disposant de moins de $ 1,90 par jour (2011 PPA) (% de la population)                object
Espérance de vie à la naissance, total (années)                                                                    object
Population, total                                                                                                  object
Croissance de la population (% annuel)                                                                             object
Migration nette                                                                                                    object
Indice du capital humain (échelle comprise entre 0 et 1)                                                           object
PIB ($ US courants)current US$constant US$current LCUconstant LCU                                                  object
PIB par habitant ($ US courants)current US$constant US$current LCUconstant LCU                                     object
Croissance du PIB (% annuel)                                                                                       object
Chômage, total (% de la population) (estimation modélisée OIT)                                                     object
Inflation, prix à la consommation (% annuel)                                                                       object
Envois de fonds des travailleurs et rémunérations des salariés, reçus (% du PIB)                                   object
Émissions de CO2 (tonnes métriques par habitant)                                                                   object
Surface forestière (% du territoire)                                                                               object
Accès à l’électricité (% de la population)                                                                         object
Retraits annuels d’eau douce, total (% des ressources internes)                                                    object
Production d’électricité à partir de sources d’énergie renouvelables, hors énergie hydroélectrique (% du total)    object
People using safely managed sanitation services (% of population)                                                  object
Homicides intentionnels (pour 100 000 personnes)                                                                   object
Dette du gouvernement central, total (% du PIB)                                                                    object
Statistical performance indicators (SPI): Overall score (scale 0-100)                                              object
Utilisateurs d Internet (% de la population)                                                                        int64
Proportion de sièges occupés par des femmes dans les parlements nationaux (%)                                      object
Investissements étrangers directs, entrées nettes (% du PIB)                                                       object
dtype: object>

In [15]:
df_indicators.describe()

       Utilisateurs d Internet (% de la population)
count                                     45.000000
mean                                      67.266667
std                                       28.162193
min                                        0.000000
25%                                       60.000000
50%                                       74.000000
75%                                       87.000000
max                                      100.000000

In [16]:
print(f"il y'a: {len(df_indicators.select_dtypes('int64').columns)} colonne(s) de type int64");
print(f"Il y'a : {len(df_indicators.select_dtypes('object').columns)} colonne(s) de type object");

il y'a: 1 colonne(s) de type int64
Il y'a : 24 colonne(s) de type object

In [17]:
display(list(df_indicators.select_dtypes('int64').columns));

['Utilisateurs d Internet (% de la population)']

In [18]:
df_indicators.isna().sum().value_counts()

0    25
dtype: int64

Nettoyage des donnees

In [19]:
df_indicators.columns = df_indicators.columns.str.lower()

In [20]:
# strip countries names
df_indicators['country'] = df_indicators['country'].str.strip()

In [21]:
if "No data available" in df_indicators.values:
    df_indicators = df_indicators.replace(["No data available"], np.nan)

In [22]:
df_indicators.isna().sum()

country                                                                                                             0
ratio de la population pauvre disposant de moins de $ 1,90 par jour (2011 ppa) (% de la population)                15
espérance de vie à la naissance, total (années)                                                                     1
population, total                                                                                                   0
croissance de la population (% annuel)                                                                              0
migration nette                                                                                                     0
indice du capital humain (échelle comprise entre 0 et 1)                                                           12
pib ($ us courants)current us$constant us$current lcuconstant lcu                                                   1
pib par habitant ($ us courants)current us$constant us$current lcuconstant lcu                                      1
croissance du pib (% annuel)                                                                                        1
chômage, total (% de la population) (estimation modélisée oit)                                                      4
inflation, prix à la consommation (% annuel)                                                                        5
envois de fonds des travailleurs et rémunérations des salariés, reçus (% du pib)                                    4
émissions de co2 (tonnes métriques par habitant)                                                                    5
surface forestière (% du territoire)                                                                                1
accès à l’électricité (% de la population)                                                                          0
retraits annuels d’eau douce, total (% des ressources internes)                                                     6
production d’électricité à partir de sources d’énergie renouvelables, hors énergie hydroélectrique (% du total)    15
people using safely managed sanitation services (% of population)                                                  20
homicides intentionnels (pour 100 000 personnes)                                                                    6
dette du gouvernement central, total (% du pib)                                                                    24
statistical performance indicators (spi): overall score (scale 0-100)                                              10
utilisateurs d internet (% de la population)                                                                        0
proportion de sièges occupés par des femmes dans les parlements nationaux (%)                                       5
investissements étrangers directs, entrées nettes (% du pib)                                                        3
dtype: int64

In [23]:
# we observe that numerical values are considerated as str values because of the comma
# Replace the comma with a period and convert the column to float
# let's first remove special caracters
df_indicators = df_indicators.applymap(lambda x: unidecode.unidecode(str(x)))
df_indicators = df_indicators.replace(',', '.', regex=True)

In [24]:
#convert all columns values to numerical type except str columns
columns_to_skip =['country']
for column in df_indicators.select_dtypes(include='object').columns:
    if column not in columns_to_skip:
        df_indicators[column] = df_indicators[column].str.replace(' ', '').astype(float)

Ce traitement a été effectué parce qu'on a remarqué que les valeurs numériques étaient considérées comme des strings

In [25]:
df_indicators.dtypes.unique()

array([dtype('O'), dtype('float64')], dtype=object)

Gestion des données manquantes

In [26]:
#cherchons les colonnes dont les valeurs null sont supérieures à 50%
#les colonnes qui ont une valeur qui ne varie pas
def find_columns_conditions(df):
    total_rows = df.shape[0]
    
    colToDel = [col for col in df.columns if (df[col].isnull().sum() / total_rows) > FILTERS_PARAMS['NAN_TRESHOLD']]
    
    constant_cols = [col for col in df.columns if df[col].nunique() == 1]
    
    min_completion_cols = [col for col in df.columns if (df[col].count() / total_rows) < FILTERS_PARAMS['MIN_COMPLETION_RATE']]
    
    return colToDel+constant_cols+min_completion_cols

In [27]:
cols_to_del  = find_columns_conditions(df_indicators)

In [28]:
df_indicators.drop(columns=cols_to_del,axis=1,inplace=True)

In [29]:
len(df_indicators.columns)

24

In [30]:
#pour imputer les données manquantes, on va utiliser la médiane qui est moins sensible aux outliers

df_indicators = df_indicators.fillna(df_indicators.median(numeric_only=True))

In [31]:
df_indicators.isnull().sum()

country                                                                                                            0
ratio de la population pauvre disposant de moins de $ 1,90 par jour (2011 ppa) (% de la population)                0
espérance de vie à la naissance, total (années)                                                                    0
population, total                                                                                                  0
croissance de la population (% annuel)                                                                             0
migration nette                                                                                                    0
indice du capital humain (échelle comprise entre 0 et 1)                                                           0
pib ($ us courants)current us$constant us$current lcuconstant lcu                                                  0
pib par habitant ($ us courants)current us$constant us$current lcuconstant lcu                                     0
croissance du pib (% annuel)                                                                                       0
chômage, total (% de la population) (estimation modélisée oit)                                                     0
inflation, prix à la consommation (% annuel)                                                                       0
envois de fonds des travailleurs et rémunérations des salariés, reçus (% du pib)                                   0
émissions de co2 (tonnes métriques par habitant)                                                                   0
surface forestière (% du territoire)                                                                               0
accès à l’électricité (% de la population)                                                                         0
retraits annuels d’eau douce, total (% des ressources internes)                                                    0
production d’électricité à partir de sources d’énergie renouvelables, hors énergie hydroélectrique (% du total)    0
people using safely managed sanitation services (% of population)                                                  0
homicides intentionnels (pour 100 000 personnes)                                                                   0
statistical performance indicators (spi): overall score (scale 0-100)                                              0
utilisateurs d internet (% de la population)                                                                       0
proportion de sièges occupés par des femmes dans les parlements nationaux (%)                                      0
investissements étrangers directs, entrées nettes (% du pib)                                                       0
dtype: int64

Supprimer les données dupliquées

In [32]:
if len(df_indicators.duplicated().value_counts())>0:
    # Remove duplicate rows
    df_indicators.drop_duplicates(inplace=True)

Anamyser le dataset sur les codes des pays

In [33]:
if('df_country_codes' in list(datasets.keys())):
    df_country_codes = datasets['df_country_codes']
df_country_codes.head()

    id         name                       region
0  ABW        Aruba  Amérique latine et Caraïbes
1  AFE          NaN                     Agrégats
2  AFG  Afghanistan                  Asie du Sud
3  AFR          NaN                     Agrégats
4  AFW          NaN                     Agrégats

In [34]:
df_country_codes.describe

<bound method NDFrame.describe of       id            name                           region
0    ABW           Aruba      Amérique latine et Caraïbes
1    AFE             NaN                         Agrégats
2    AFG     Afghanistan                      Asie du Sud
3    AFR             NaN                         Agrégats
4    AFW             NaN                         Agrégats
..   ...             ...                              ...
292  XZN             NaN                         Agrégats
293  YEM  Yémen, Rép. du  Afrique du Nord et Moyen-Orient
294  ZAF  Afrique du Sud            Afrique subsaharienne
295  ZMB          Zambie            Afrique subsaharienne
296  ZWE        Zimbabwe            Afrique subsaharienne

[297 rows x 3 columns]>

In [35]:
df_country_codes.shape

(297, 3)

In [36]:
df_country_codes.dtypes

id        object
name      object
region    object
dtype: object

In [37]:
df_country_codes.isna().sum()

id         0
name      32
region     0
dtype: int64

In [38]:
#delete rows with name not define
df_country_codes= df_country_codes.dropna(subset=['name'])

In [39]:
df_country_codes.isna().sum()

id        0
name      0
region    0
dtype: int64

In [40]:
#unidecode value and remove accents
df_country_codes = df_country_codes.applymap(unidecode.unidecode)

In [41]:
df_country_codes

      id            name                           region
0    ABW           Aruba      Amerique latine et Caraibes
2    AFG     Afghanistan                      Asie du Sud
5    AGO          Angola            Afrique subsaharienne
6    ALB         Albanie          Europe et Asie centrale
7    AND         Andorre          Europe et Asie centrale
..   ...             ...                              ...
291  XKX          Kosovo          Europe et Asie centrale
293  YEM  Yemen, Rep. du  Afrique du Nord et Moyen-Orient
294  ZAF  Afrique du Sud            Afrique subsaharienne
295  ZMB          Zambie            Afrique subsaharienne
296  ZWE        Zimbabwe            Afrique subsaharienne

[265 rows x 3 columns]

Analyse du dataset sur les niveaux de vies

In [42]:
if('df_CLASS' in list(datasets.keys())):
    df_CLASS = datasets['df_CLASS']
df_CLASS.head()

,Economy,Code,Region,Income group,Lending category
0,Aruba,ABW,Latin America & Caribbean,High income,NaN
1,Afghanistan,AFG,South Asia,Low income,IDA
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD
3,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD
4,Andorra,AND,Europe & Central Asia,High income,NaN

Les colonnes qui nous interesse dans cette base de données sont: le code, la région et le niveau de vie

In [43]:
df_CLASS = df_CLASS[['Code','Region','Income group']]

In [44]:
df_CLASS.columns = df_CLASS.columns.str.lower()

In [45]:
df_CLASS.columns

Index(['code', 'region', 'income group'], dtype='object')

Exploration des données

In [46]:
df_CLASS.shape

(267, 3)

In [47]:
df_CLASS.describe(include="all")

       code                 region income group
count   266                    218          217
unique  266                      7            4
top     ABW  Europe & Central Asia  High income
freq      1                     58           83

In [48]:
df_CLASS.dtypes.unique()

array([dtype('O')], dtype=object)

In [49]:
df_CLASS.isna().sum()

code             1
region          49
income group    50
dtype: int64

In [50]:
len(df_CLASS['region']) - df_CLASS['region'].isna().sum()

218

Cette différence est au nombre total de pays existants dans le monde. 
Pour l'imputation des données manquantes, on pourra supprimer les lignes qui ont une valeur nulle dans la colonne "region".

Gestion des valeurs manquantes

In [51]:
# Drop rows with missing values in the 'region' column
df_CLASS = df_CLASS.dropna(subset=['region'])

In [52]:
df_CLASS

    code                      region         income group
0    ABW   Latin America & Caribbean          High income
1    AFG                  South Asia           Low income
2    AGO          Sub-Saharan Africa  Lower middle income
3    ALB       Europe & Central Asia  Upper middle income
4    AND       Europe & Central Asia          High income
..   ...                         ...                  ...
213  XKX       Europe & Central Asia  Upper middle income
214  YEM  Middle East & North Africa           Low income
215  ZAF          Sub-Saharan Africa  Upper middle income
216  ZMB          Sub-Saharan Africa  Lower middle income
217  ZWE          Sub-Saharan Africa  Lower middle income

[218 rows x 3 columns]

In [53]:
df_CLASS.isna().sum()

code            0
region          0
income group    1
dtype: int64

In [54]:
mode_value = df_CLASS['income group'].mode().iloc[0]
# Impute missing values in the specified income group with the mode
df_CLASS['income group'] = df_CLASS['income group'].fillna(mode_value)

In [55]:
df_CLASS.isna().sum()

code            0
region          0
income group    0
dtype: int64

In [56]:
df_country_codes.head()

    id         name                       region
0  ABW        Aruba  Amerique latine et Caraibes
2  AFG  Afghanistan                  Asie du Sud
5  AGO       Angola        Afrique subsaharienne
6  ALB      Albanie      Europe et Asie centrale
7  AND      Andorre      Europe et Asie centrale

In [57]:
df_indicators.head()

,country,"ratio de la population pauvre disposant de moins de $ 1,90 par jour (2011 ppa) (% de la population)","espérance de vie à la naissance, total (années)","population, total",croissance de la population (% annuel),migration nette,indice du capital humain (échelle comprise entre 0 et 1),pib ($ us courants)current us$constant us$current lcuconstant lcu,pib par habitant ($ us courants)current us$constant us$current lcuconstant lcu,croissance du pib (% annuel),...,surface forestière (% du territoire),accès à l’électricité (% de la population),"retraits annuels d’eau douce, total (% des ressources internes)","production d’électricité à partir de sources d’énergie renouvelables, hors énergie hydroélectrique (% du total)",people using safely managed sanitation services (% of population),homicides intentionnels (pour 100 000 personnes),statistical performance indicators (spi): overall score (scale 0-100),utilisateurs d internet (% de la population),proportion de sièges occupés par des femmes dans les parlements nationaux (%),"investissements étrangers directs, entrées nettes (% du pib)"
0,Afghanistan,2.8,62.0,41128771.0,2.5,-183672.0,0.4,14.58,363.7,-20.7,...,1.9,97.7,43.0,0.65,59.0,4.0,49.8,18.0,27.0,0.1
1,Afrique du Sud,20.5,62.0,59893885.0,0.8,10934.0,0.4,405.87,6776.5,2.0,...,14.1,89.3,45.0,1.90,59.0,42.0,73.5,72.0,47.0,2.2
2,Albanie,0.0,76.0,2775634.0,-1.3,-10612.0,0.6,18.88,6802.8,4.8,...,28.8,100.0,3.0,0.00,48.0,2.0,75.4,79.0,36.0,7.6
3,Algerie,0.5,76.0,44903225.0,1.6,-18797.0,0.5,191.91,4273.9,3.1,...,0.8,99.8,87.0,0.10,18.0,2.0,55.1,71.0,8.0,0.0
4,Andorre,2.8,73.0,79824.0,1.0,1377.0,0.6,3.35,41992.8,8.8,...,34.0,100.0,6.0,0.65,100.0,3.0,58.2,94.0,46.0,2.3

In [58]:
df_CLASS.head()

  code                     region         income group
0  ABW  Latin America & Caribbean          High income
1  AFG                 South Asia           Low income
2  AGO         Sub-Saharan Africa  Lower middle income
3  ALB      Europe & Central Asia  Upper middle income
4  AND      Europe & Central Asia          High income

In [59]:
countries_to_save = df_indicators['country'].tolist()
df_country_codes_matched = df_country_codes[df_country_codes['name'].isin(countries_to_save)]

In [60]:
merged_df_1 = pd.merge(left=df_country_codes, right=df_indicators, left_on='name', right_on='country', how='left')

In [61]:
merged_df_1

,id,name,region,country,"ratio de la population pauvre disposant de moins de $ 1,90 par jour (2011 ppa) (% de la population)","espérance de vie à la naissance, total (années)","population, total",croissance de la population (% annuel),migration nette,indice du capital humain (échelle comprise entre 0 et 1),...,surface forestière (% du territoire),accès à l’électricité (% de la population),"retraits annuels d’eau douce, total (% des ressources internes)","production d’électricité à partir de sources d’énergie renouvelables, hors énergie hydroélectrique (% du total)",people using safely managed sanitation services (% of population),homicides intentionnels (pour 100 000 personnes),statistical performance indicators (spi): overall score (scale 0-100),utilisateurs d internet (% de la population),proportion de sièges occupés par des femmes dans les parlements nationaux (%),"investissements étrangers directs, entrées nettes (% du pib)"
0,ABW,Aruba,Amerique latine et Caraibes,Aruba,2.8,75.0,106445.0,-0.1,501.0,0.6,...,2.3,100.0,6.0,0.65,59.0,2.0,58.2,97.0,24.5,4.3
1,AFG,Afghanistan,Asie du Sud,Afghanistan,2.8,62.0,41128771.0,2.5,-183672.0,0.4,...,1.9,97.7,43.0,0.65,59.0,4.0,49.8,18.0,27.0,0.1
2,AGO,Angola,Afrique subsaharienne,Angola,31.1,62.0,35588987.0,3.1,29089.0,0.4,...,53.4,48.2,0.0,0.00,59.0,4.0,54.9,33.0,34.0,-5.8
3,ALB,Albanie,Europe et Asie centrale,Albanie,0.0,76.0,2775634.0,-1.3,-10612.0,0.6,...,28.8,100.0,3.0,0.00,48.0,2.0,75.4,79.0,36.0,7.6
4,AND,Andorre,Europe et Asie centrale,Andorre,2.8,73.0,79824.0,1.0,1377.0,0.6,...,34.0,100.0,6.0,0.65,100.0,3.0,58.2,94.0,46.0,2.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Kosovo,Europe et Asie centrale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,YEM,"Yemen, Rep. du",Afrique du Nord et Moyen-Orient,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,ZAF,Afrique du Sud,Afrique subsaharienne,Afrique du Sud,20.5,62.0,59893885.0,0.8,10934.0,0.4,...,14.1,89.3,45.0,1.90,59.0,42.0,73.5,72.0,47.0,2.2
263,ZMB,Zambie,Afrique subsaharienne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,ZWE,Zimbabwe,Afrique subsaharienne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

On vient de merger le dataset sur les informations basiques de chque pays, à savoir le nom, le code du pays,et la région, avec le dataset sur les indicateurs de développement de ces pays.

On va procéder de même pour merger le dataset résultant avec le dataframe sur les niveaux de vie de chaque pays.

In [62]:
# codes_to_save = merged_df_1['id'].tolist()
# df_income_codes_matched = merged_df_1[merged_df_1['id'].isin(codes_to_save)]

In [68]:
final_dataset = pd.merge(left=merged_df_1, right=df_CLASS[['code','income group']], left_on='id', right_on='code', how='left')

In [69]:
final_dataset.columns.to_list()

['id',
 'name',
 'region',
 'country',
 'ratio de la population pauvre disposant de moins de $\xa01,90 par jour (2011 ppa) (%\xa0de la population)',
 'espérance de vie à la naissance, total (années)',
 'population, total',
 'croissance de la population (%\xa0annuel)',
 'migration nette',
 'indice du capital humain (échelle comprise entre 0 et 1)',
 'pib ($\xa0us courants)current us$constant us$current lcuconstant lcu',
 'pib par habitant ($\xa0us courants)current us$constant us$current lcuconstant lcu',
 'croissance du pib (%\xa0annuel)',
 'chômage, total (%\xa0de la population) (estimation modélisée oit)',
 'inflation, prix à la consommation (%\xa0annuel)',
 'envois de fonds des travailleurs et rémunérations des salariés, reçus (%\xa0du pib)',
 'émissions de co2 (tonnes métriques par habitant)',
 'surface forestière (%\xa0du territoire)',
 'accès à l’électricité (% de la population)',
 'retraits annuels d’eau douce, total (% des ressources internes)',
 'production d’électricité à partir de sources d’énergie renouvelables, hors énergie hydroélectrique (% du total)',
 'people using safely managed sanitation services (% of population)',
 'homicides intentionnels (pour 100\xa0000 personnes)',
 'statistical performance indicators (spi): overall score (scale 0-100)',
 'utilisateurs d internet (% de la population)',
 'proportion de\xa0sièges occupés par des femmes dans les parlements nationaux (%)',
 'investissements étrangers directs, entrées nettes (%\xa0du pib)',
 'code',
 'income group']

In [73]:
final_dataset.columns = [unidecode.unidecode(col) for col in final_dataset.columns]

In [74]:
final_dataset.columns.to_list()

['id',
 'name',
 'region',
 'country',
 'ratio de la population pauvre disposant de moins de $ 1,90 par jour (2011 ppa) (% de la population)',
 'esperance de vie a la naissance, total (annees)',
 'population, total',
 'croissance de la population (% annuel)',
 'migration nette',
 'indice du capital humain (echelle comprise entre 0 et 1)',
 'pib ($ us courants)current us$constant us$current lcuconstant lcu',
 'pib par habitant ($ us courants)current us$constant us$current lcuconstant lcu',
 'croissance du pib (% annuel)',
 'chomage, total (% de la population) (estimation modelisee oit)',
 'inflation, prix a la consommation (% annuel)',
 'envois de fonds des travailleurs et remunerations des salaries, recus (% du pib)',
 'emissions de co2 (tonnes metriques par habitant)',
 'surface forestiere (% du territoire)',
 "acces a l'electricite (% de la population)",
 "retraits annuels d'eau douce, total (% des ressources internes)",
 "production d'electricite a partir de sources d'energie renouvelables, hors energie hydroelectrique (% du total)",
 'people using safely managed sanitation services (% of population)',
 'homicides intentionnels (pour 100 000 personnes)',
 'statistical performance indicators (spi): overall score (scale 0-100)',
 'utilisateurs d internet (% de la population)',
 'proportion de sieges occupes par des femmes dans les parlements nationaux (%)',
 'investissements etrangers directs, entrees nettes (% du pib)',
 'code',
 'income group']

In [70]:
# extract our final columns
final_dataset[FILTERS_PARAMS['FEATURES']]

KeyError: "['croissance du pib', 'chômage, total (% de la population) (estimation modélisée oit)', 'inflation, prix à la consommation (% annuel)'] not in index"