In [6]:
import pandas as pd
import os
from params import *

In [34]:
def load_data():
    list_dataframe = {}
    for i,filename in enumerate(os.listdir(DATA_DIR)):
        df_name = f"df_{filename.split('.')[0]}"
        if filename.split('.')[-1] == 'csv':
            list_dataframe[df_name] = pd.read_csv(Path(DATA_DIR,filename),sep=',', index_col=[0])
        elif (filename.split('.')[-1] == 'xlsx') or (filename.split('.')[-1] == 'xls'):
            list_dataframe[df_name] = pd.read_excel(Path(DATA_DIR,filename))
        #df_name = f"df_{filename.split('.')[0]}"
        print(filename)
    return list_dataframe

In [35]:
tests = load_data()

.DS_Store
indicators.csv
CLASS.xlsx
country_codes.csv

In [36]:
tests.keys()

dict_keys(['df_indicators', 'df_CLASS', 'df_country_codes'])

In [37]:
if('df_indicators' in list(tests.keys())):
    df_indicators = tests['df_indicators']
df_indicators.head()

,Country,"Ratio de la population pauvre disposant de moins de $ 1,90 par jour (2011 PPA) (% de la population)","Espérance de vie à la naissance, total (années)","Population, total",Croissance de la population (% annuel),Migration nette,Indice du capital humain (échelle comprise entre 0 et 1),PIB ($ US courants)current US$constant US$current LCUconstant LCU,PIB par habitant ($ US courants)current US$constant US$current LCUconstant LCU,Croissance du PIB (% annuel),...,Accès à l’électricité (% de la population),"Retraits annuels d’eau douce, total (% des ressources internes)","Production d’électricité à partir de sources d’énergie renouvelables, hors énergie hydroélectrique (% du total)",People using safely managed sanitation services (% of population),Homicides intentionnels (pour 100 000 personnes),"Dette du gouvernement central, total (% du PIB)",Statistical performance indicators (SPI): Overall score (scale 0-100),Utilisateurs d Internet (% de la population),Proportion de sièges occupés par des femmes dans les parlements nationaux (%),"Investissements étrangers directs, entrées nettes (% du PIB)"
0,afghanistan,No data available,62,41 128 771,"2,5",-183 672,"0,4","14,58","363,7","-20,7",...,"97,7",43,No data available,No data available,4,No data available,"49,8",18,27,"0,1"
1,albanie,"0,0",76,2 775 634,"-1,3",-10 612,"0,6","18,88","6 802,8","4,8",...,"100,0",3,"0,0",48,2,"82,4","75,4",79,36,"7,6"
2,algerie,"0,5",76,44 903 225,"1,6",-18 797,"0,5","191,91","4 273,9","3,1",...,"99,8",87,"0,1",18,2,No data available,"55,1",71,8,"0,0"
3,allemagne,"0,0",81,84 079 811,"1,1",312 735,"0,8","4,07","48 432,5","1,8",...,"100,0",23,"26,3",97,1,No data available,"87,5",91,35,"1,2"
4,andorre,No data available,No data available,79 824,"1,0",1 377,No data available,"3,35","41 992,8","8,8",...,"100,0",No data available,No data available,100,3,No data available,No data available,94,46,No data available

In [38]:
if('df_CLASS' in list(tests.keys())):
    df_CLASS = tests['df_CLASS']
df_CLASS.head()

,Economy,Code,Region,Income group,Lending category
0,Aruba,ABW,Latin America & Caribbean,High income,NaN
1,Afghanistan,AFG,South Asia,Low income,IDA
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD
3,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD
4,Andorra,AND,Europe & Central Asia,High income,NaN

In [39]:
if('df_country_codes' in list(tests.keys())):
    df_country_codes = tests['df_country_codes']
df_country_codes.head()

    id         name                       region
0  ABW        Aruba  Amérique latine et Caraïbes
1  AFE          NaN                     Agrégats
2  AFG  Afghanistan                  Asie du Sud
3  AFR          NaN                     Agrégats
4  AFW          NaN                     Agrégats